.mot-hang{
    float:left;
    width:100%;
}

.mot-hang-content
{
    float:left;
    width:50%;
    margin-left:25%;
    margin-right:25%;
    overflow:hidden;    
}

.mot-hang-gan-tren{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    z-index:1;
}

.mot-hang-20{
    float:left;
    width:20%;
}

.mot-hang-30{
    width:30%;
    float:left;
}

.mot-hang-50{
    width:50%;
    float:left;
}

.mot-hang-70{
    width:70%;
    float:left;
}

.chu-ben-trong{
    float: left;
    margin: 32px 0px 10px 20px;
    
}

.input-ben-trong-check{
    height: 26px;
    width: 26px;
    background: white;
    margin-left: 4%;
    float:left;
}
.input-ben-trong{
    color: #ABABAB;
    padding: 20px 10px;
    border-radius: 5px;
    width: 85%;
    margin-left: 4%;
    border: 1px solid #C3C3C3;
}
.input-SendInvitation{
    color: #ABABAB;
    padding: 20px 50px;
    border-radius: 5px;
    width: 95%;
	height: 100px;
    margin-left: 4%;
    border: 1px solid #C3C3C3;
}

.chuadulieu
{
    text-align:center;
    font-size:18px;
}
.tieude1{
    float: left;
    width: 100%;
    color: red;
    font-weight: bold;
    font-size: 50px;
    margin: 30px 0px 30px 0px;
}
.button-login{
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    float: right;
    color: white;
    background-color: rgba(73, 77, 105, 0.93);
    border-radius: 4px;
    margin: 14px 30px 0px 0px;
}
.button-login:hover{
    background-color:#595E86;
}

.button-login1{
    padding: 18px 220px 18px 220px;
    border: 1px solid white;
    float: center;
    color: white;
    margin-bottom: 15px;
    border-radius: 4px;
    margin: auto;
	background-color:#4a89dc;
}
.button-login1:hover{
    background-color:#3366FF;
}

.button-sendInvitation{
    padding: 18px 30px 18px 30px;
    border: 1px solid white;
    float: center;
    color: white;
    margin-bottom: 15px;
    border-radius: 4px;
    margin: auto;
	background-color:#F2F2F2;
}
.button-sendInvitation:hover{
    background-color:#4a89dc;
}

.button-signup{
    padding: 12px 0px 12px 0px;
    border: 1px solid transparent;
	text-align:center;
    border-radius: 4px;
	width:100%;
	

    background: #4a89dc;
    font-size: 30px;
    cursor: pointer;
}

.button-signup1{
    padding: 16px 25px 16px 25px;
    color: white;
    border-radius: 7px;
    background: hsla(0,0%,100%,.1);
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: -0.5;
}
.button-signup1:hover{
    background: #1D66C5;
}
.button-signup:hover{
    background-color: #2174E2;

}
body{
    margin:-8px;
    font-family: sans-serif;
    letter-spacing: -0.5;
}
.background-all-login
{
    float:left;
    width: 100%;
    height: 100%;
    background-image: url('../img/logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bang-chua-noi-dung{
    float:left;
    width:90%;
    
}
.bang-chua-noi-dung td{
    border:1px solid black;
}
.bang-chua-noi-dung th{
    text-align:center;
    background-color:gray;
    color:white;
    border:1px solid black;
    padding: 5px 0px 5px 0px;
}

.khung-chua-chucvu{
    float:left;
    width:50%;
    margin-left:25%;
    height:130px;
    padding:24px;
    background-color:white;
    margin-bottom:10px;
    font-weight: bold;
    color: #525252;
    overflow: hidden;
    cursor:pointer;
    border-radius:10px;
}

.khung-chua-icon{
    width:10%;
    margin-left:40%;
    margin-top:10px;
    height:auto;
    background-color:#fafaf9;
    padding:5%;
    border-radius:50%;
}
.button-class-chat
{
    float: left;
    padding: 15px 25px;
    border-radius: 27px;
    margin-left: 10px;
    color: white;
    font-size: 16.5px;
    font-weight: bold;
    cursor:pointer;
    text-decoration:none;

}
.button-class-chat:hover{
    background-color:rgba(27,41,72,.20)
}
.class-chat-select{
    background-color:rgba(27,41,72,.35) !important;
    cursor:default !important
}
.classes-main-left{
    position:fixed;
    left:0px;
    top:70px;
    width:22%;
    height:100%;
    border-right:1px solid #D6D6D6;
    background-color:#FAFAF9;
}
.classes-main-right{
    float:left;
    width:73%;
    height:100%;
    padding-top:41px;
    margin-top:80px;
    margin-left:26%;
    overflow:hidden;
    background-color:white;
}
.help-icon{
    position:relative;
    background-image: url("../img/icon-top.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    background-position: -5px 1px;
    background-size: 170px;
    margin-right: 30px;
    float: left;
    margin-top: 8px
}
.help-icon:hover{
    background-position: -5px -37px;
}
.share-icon{
    position:relative;
    background-image: url("../img/icon-top.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    background-position: -56px 1px;
    background-size: 170px;
    margin-right: 30px;
    float: left;
    margin-top: 8px
}
.share-icon:hover{
    background-position: -56px -37px;
}
.myaccount-icon{
    position:relative;
    background-image: url("../img/icon-top.png");
    background-repeat: no-repeat;
    width: 47px;
    height: 28px;
    background-position: -115px 1px;
    background-size: 170px;
    margin-right: 34px;
    float: left;
    margin-top: 8px;
}
.myaccount-icon:hover{
    background-position: -115px -37px;
}
.noidung-icon{
    position: absolute;
    left: -26px;
    top: 63px;
    background-color: rgba(39, 38, 38, 0.79);
    padding: 15px;
    white-space:nowrap;
    text-align: center;
    color: white;
    border-radius: 8px;
    display:none;
}
.noidung-icon::after{
    position: absolute;
    left: 42%;
    top: -11px;
    content: " ";
    border-style: solid;
    border-width: 0px 8px 12px 8px;
    border-color: transparent transparent rgba(39, 38, 38, 0.79) transparent;
}
.Menu-list{
    position: absolute;
    left: -46px;
    top: 34px;
    background-color: white;
    color: black;
    border-radius: 8px;
    display:none;
    list-style: none;
    border:1px solid #EAE8E8;
    padding:0;
}
.Menu-child{
    padding: 8px 6px 8px 55px;
    background-image: url('../img/MyAccount.png');
    background-repeat: no-repeat;
    background-size: 350px;
    cursor:pointer;
}

.Menu-child:hover{
    color:#3373b8;
}
.menu-sett{
    background-position: 0px 2px;
}

.menu-sett:hover{
    background-position: -303px 2px;
}

.menu-notifi{
    background-position: 0px -43px;
}

.menu-notifi:hover{
    background-position: -303px -43px;
}

.menu-chat{
    background-position: 0px -87px;
}

.menu-chat:hover{
    background-position: -303px -87px;
}

.menu-widget{
    background-position: 0px -134px;
}

.menu-widget:hover{
    background-position: -303px -134px;
}

.menu-print{
    background-position: 0px -177px;
}

.menu-print:hover{
    background-position: -303px -177px;
}

.menu-logout{
    background-position: 2px -224px;
}

.menu-logout:hover{
    background-position: -301px -224px;
}


.button-add{
    float: right;
    position: relative;
    padding: 4px 12px;
    border-radius: 50%;
    background-color: white;
    color: #3373b8;
    font-size: 22px;
    border: 1px solid #3373b8;
    font-weight: normal;
    margin-right: 10px;
    cursor: pointer;
}
.button-add:hover{
    color:white;
    background-color:#4a89dc;
}
.menu-class{
    list-style: none;
    float: left;
    margin: 5px 0px 0px 0px;
    width: 100%;
    padding: 0px;
}
.menu-class-child
{
    float:left;
    width:100%;
    padding:5px 0px 5px 0px;
    cursor:pointer;
    color: #767676;
}
.menu-class-child img
{
    float:left;
    height:45px;
    margin:0px 15px 0px 27px;
}
.menu-class-child font{
    float:left;
    padding-top:16px;
}
.menu-class-child:hover{
    background-color:#F7F7F7;
}
.class-selected{
    background-color:#EEEEED;
}

.chu-class
{
    color: #767676;
    font-size: 12px;
    font-weight: 600;
    margin: 11px 0px 0px 25px;
    text-transform: uppercase;
    float: left;
}
.class-ow-jo
{
    float:left;
    width:100%;
}
.khung-chua{
    display:none;
}
.phu-mo{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.75);
    z-index:2;
}
.form-chua{
    background-color:white;
    border-radius:9px;
    z-index:3;
    position:absolute;
    padding:40px;
    
}

.button-close{
    position: absolute;
    left: 95%;
    top: -30px;
    color: #E0DEDE;
    font-size: 23px;
    font-weight:bold;
    cursor:pointer;
}
.button-close:hover{
    color: #848484;
}

.title-form-chua{
    font-weight: 400;
    margin: 0;
    color: #656560;
    font-size: 23px;
    float: left;
    width: 100%;
    text-align: center;
}

.form-add-class{
    left:35%;
    top:10%;
    width:30%;
    height:60%;

}

.form-setting-class{
    left:35%;
    top:10%;
    width:30%;
    height:auto;
    padding:40px 0px 40px 0px;
}

.form-join-class{
    left:35%;
    top:10%;
    width:30%;
    height:auto;
}

.form-edit-icon{
    left:30%;
    top:10%;
    width:40%;
    height:auto;
}
.form-edit-icon img{
    margin:0px 10px 30px 32px;
    opacity: 0.7;
}
.form-edit-icon img:hover{
    opacity:1;
}

.form-add-parents{
    left:30%;
    top:10%;
    width:40%;
    padding:40px 0px 40px 0px;
    height:auto;
}
.mot-hang-chu-edit{
    margin-left:13px;
    color:#3373b8;
    letter-spacing: 0;
    margin-top:10px;
    float:left;
    width:100%;
    cursor:pointer;
}
.mot-hang-chu-edit:hover{
    color:gray;
}
.validator{
    color:red;
    display:none;
    margin:5px 0px 0px 10px;
}

.label{
    color: #6F6F6F;
    margin-bottom: 10px;
    font-weight: bold;
}

.button-add-student-parent-left{
    float:left;
    padding:15px 25px 15px 25px;
    border-right:1px solid #309457;
    
}
.button-add-student-parent-left:hover{
    color:white;
    background-color: #309457;
}

.button-add-student-parent{
    float:left;
    color:#309457;
    cursor:pointer;
    border:1px solid #309457;
    border-radius:7px;
    margin-left:5px;
    
}

.button-add-student-parent-right{
    float:left;
    padding:15px 25px 15px 25px; 
    background-image:url("../img/iconDonwn.png");
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: 8px 13px;
    height: 18px;
    
}
.button-add-student-parent-right:hover{
    background-color: #309457;
    background-position:-33px 12px;
}
.mot-hang-chu-title{
    float: left;
    width: 100%;
    overflow:hidden;
    font-size: 25px;
    margin-top: 5px;
    cursor:pointer;
}
.mot-hang-chu-title:hover{
    color:#3373b8;
}
.mot-hang-chu-description{
    float:left;
    width:100%;
    margin-top:4px;
    color:gray;
}

.button-setting{
    width:49px;
    height:49px;
    border-radius:7px;
    border:1px solid gray;
    cursor:pointer;
    float:right;
    background-color:white;
    background-image:url('../img/editClass.png');
    background-repeat: no-repeat;
    background-position: 14px 13px;
    background-size: 22px;
}
.button-setting:hover{
    background-color:#FAFAF9;
}
.icon-an-noi-dung{
    position:relative;
}
.chat-title
{
    font-size: 13px;
    color: #737373;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 20px;
    padding-bottom: 13px;
    border-bottom: 1px solid #D4D4D4;
}

.tab-ben-trai{
    margin-left:25%;
    margin-right:4%;
    text-align:center;
    padding-bottom:15px;
}

.tab-ben-phai{
    margin-left:4%;
    margin-right:25%;
    text-align:center;
    padding-bottom:15px;
}

.button-search-chat{
    float: right;
    background-image: url("../img/iconChat.png");
    background-repeat: no-repeat;
    background-size: 72px;
    cursor: pointer;
    width: 27px;
    height: 27px;
    background-position: -45px 0px;
}
.button-search-chat:hover{
  background-position: 0px 0px;
    
}
.font-or
{
    position: relative;
    height: 1px;
    margin-left: 4%;
    float: left;
    width: 90%;
    background-color: #E4E4E4;
}
.font-or::before{
    position:absolute;
    color:gray;
    content:"OR";
    z-index:2;
    left:50%;
    top:-9px;
    background-color:white;
   
}
.butonGoogle{
    background-image:url('../img/google-icon.svg');
    background-repeat: no-repeat;
    background-size: 34px;
    background-position: 10px;
    background-color:white;
    color:gray;
    border-color:gray;
}
.butonGoogle:hover{
    color:gray;
    background-color:#FBFBFB;
}

.navigation-left-main{
    position:fixed;
    left:0px;
    top:0px;
    width:6%;
    height:100%;
    background-color:#1E2E4C;
    color:white;
}
